/* Write your CSS here */
.sub-bg-container {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: 'Bree Serif';
  font-size: 33px;
  font-weight: bold;
  text-align: center;
  color: #f0bb03;
}
.btn {
  background-color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 10px;
  text-align: center;
  color: black;
}
